.cart__div {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(248, 234, 234);
    @include flex(column);
    justify-content: flex-start;

    nav {
        width: 100%;
        @include flex(row);
        justify-content: flex-start;
        margin: 1%;
        padding: 1% 2%;

        .title {
            width: auto;
            font-size: 28px;
            padding: 0 1%;
        }

        #backBtn {
            @include flex(row);
            font-size: 1rem;
            color: $font-light;
            margin-right: 5%;
            background-color: rgb(197, 42, 42);

            &:hover {
                cursor: pointer;
                background-color: rgb(155, 7, 7);
            }
        }
    }

    #buyBtn {
        width: 95%;
        margin: 1% 2%;
        padding: 2%;
        font-size: 1rem;
        color: $font-light;
        background-color: rgb(197, 42, 42);

        &:hover {
            cursor: pointer;
            background-color: rgb(155, 7, 7);
        }
    }

    .cart_total {
        @include flex(column);
        width: 100%;
        padding: 2% auto;

        p {
            font-size: 1.3rem;
            font-weight: bold;
        }
    }

    #cart_list {
        @include flex(column);
        align-items: flex-start;
        width: 100%;
        margin: 3% 0;
        padding: 2%;

        .emptyMsg_block {
            width: inherit;
            padding: 1%;
            @include flex(row);
        }

        .cart_item {
            // box-shadow: 6px 6px 12px #e5dddd,
            //     -6px -6px 12px #f9efef;
            width: 95%;
            padding: 2%;
            margin: 1% 2%;
            background-color: $font-light;
            border: 1px solid rgb(194, 184, 184);
            @include flex(column);
            align-items: flex-start;
            border-radius: 8px;

            .item_title {
                font-size: 1.3rem;
                color: rgb(32, 18, 18);
                font-weight: bold;
                padding: 3px 8px;
            }

            .item_description {
                font-size: 0.8rem;
                color: rgb(46, 37, 37);
                font-weight: lighter;
                padding: 1px 8px;

            }

            .item_price {
                font-size: 1rem;
                color: rgb(46, 37, 37);
                font-weight: bold;
                padding: 5px 8px;

            }

            .item_quantity_box {
                width: inherit;
                @include flex(row);
                justify-content: flex-start;

                input[type='text'] {
                    width: 40px;
                    text-align: center;
                    font-size: 1rem;
                    font-weight: bold;
                    padding: 5px 1%;
                    margin: 0 2%;
                    border-radius: 8px;
                    border: none;
                    outline: none;
                }

                .decreaseBtn,
                .increaseBtn {
                    @include flex(column);
                    font-size: 1rem;
                    color: $font-light;

                    &:hover {
                        cursor: pointer;
                        background-color: gainsboro;
                    }
                }
            }

            .cancelBtn {
                @include flex(column);
                padding: 2%;
                color: $font-light;

                font-size: 1rem;
                background-color: rgb(197, 42, 42);

                &:hover {
                    cursor: pointer;
                    background-color: rgb(155, 7, 7);
                }
            }

        }

    }
}

.btn {
    padding: 2% 3%;
    margin: 0.3rem 0;
    font-size: 0.7rem;
    outline: none;
    border: none;
    color: rgb(26, 20, 20);
    border-radius: 8px;
}

@media screen and(min-width:900px) {
    .cart__div {
        nav {
            .title {
                width: auto;
                font-size: 1.5rem;
                padding: 0 1%;
            }

            #backBtn {
                font-size: 1rem;
                padding: 1%;
            }
        }

        #buyBtn {
            width: 45%;
            padding: 1% 2%;
            margin: 1%;
            font-size: 1rem;
        }

        #cart_list {
            margin: 1% 0;
            align-items: center;

            .emptyMsg_block {
                font-size: 1.3rem;
            }

            .cart_item {
                width: 45%;
                padding: 1%;
                margin: 1%;

                .item_title {
                    font-size: 1.4rem;
                }

                .item_description {
                    font-size: 1.1rem;
                }

                .item_price {
                    font-size: 1.2rem;
                }

                .item_quantity_box {

                    input[type='text'] {
                        width: 50px;
                        padding: 7px 1%;
                    }
                }

                #cancelBtn {
                    padding: 1% 3%;
                }

            }

        }
    }

}