@import"help";

// for mobiles

.overlay {
    opacity: 0.4;
    display: none;
}

#cart__div {
    width: 100%;
    height: 100vh;
}


header {
    width: 100%;
    @include flex(column);
    justify-content: left;
    padding: 1%;
    background-color: $headerBg;
    color: $font-light;

    nav {
        width: 100%;
        @include flex(row);
        justify-content: space-between;
        margin: 1% 0;
        margin-bottom: 2%;

        .hidden {
            display: none;
        }

        #company__name {
            width: auto;
            font-size: 28px;
            padding: 0 1%;
        }

        #cart__container {
            cursor: pointer;
            text-align: center;
            width: 20%;
            border-radius: 10px;
            padding: 5px 2%;
            transition: all 1s ease-in;

            img {
                width: 30px;
                fill: $font-light;
            }
        }

        #cart__div {
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;
            overflow: auto;
            background-color: rgb(255, 255, 255);
        }

    }

    #company__info__container {
        width: 100%;
        @include flex(column);
        justify-self: flex-start;
        text-align: left;
        font-size: 18px;

        .company__info {
            width: 100%;
            padding: 1% 2%;
        }

        .name {
            font-size: 22px;
            font-weight: 700;
        }

        .dishes {
            font-weight: 400;
            color: $font-dark;
        }

        .address {
            @extend .dishes;
            padding-bottom: 2%;
        }


    }

}

// for big screen
@media screen and (min-width:900px) {
    header {
        width: 100%;
        padding: 1%;

        nav {
            width: 100%;
            @include flex(row);
            justify-content: space-between;
            margin-bottom: 1%;

            #company__name {
                font-size: 40px;
            }

            #cart__container {
                width: 10%;

                img {
                    width: 40px;
                }

            }

        }

        #company__info__container {
            width: 100%;
            @include flex(column);
            justify-self: flex-start;
            text-align: left;
            font-size: 20px;

            .company__info {
                width: 100%;
                padding: 5px 2%;
            }

            .name {
                font-size: 25px;
            }
        }

    }
}