* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 20px;
    font-family: 'Nunito',
        sans-serif;
    scroll-behavior: smooth;
}

// variables
$headerBg:#3d1d18;
$MenuBg:#481D16;
$font-light:#e8eff0;
$font-dark:#e4d7d7;
$font-more-dark:#bbb7b7;


// functions
@mixin flex($dir) {
    display: flex;
    flex-direction: $dir;
    justify-content: center;
    align-items: center;
}