// for mobile
main {
    width: 100%;
    height: auto;
    @include flex(column);

    h2 {
        width: 100%;
        padding: 2% 3%;
        font-size: 28px;
        font-weight: bold;
    }

    #menu__container {
        width: 100%;
        height: 100%;
        padding: 1% 2%;
        @include flex(column);
        align-items: flex-start;

        summary {
            font-size: 23px;
        }

        #menu__list {
            width: 100%;
            height: 100%;
            @include flex(column);
            align-items: flex-start;
            padding: 5px;
            color: $font-b-dark;

            .menu__item {
                width: 100%;
                height: 100%;
                padding: 1% 2%;
                @include flex(row);

                .menu__left {
                    width: auto;
                    padding: 5px;
                    @include flex(column);
                    align-items: flex-start;

                    .menu__title {
                        font-size: 24px;
                    }

                    .menu__description {
                        font-size: 16px;
                        color: $font-b-light;
                    }

                    .btn {
                        padding: 2% 3%;
                        margin: 1% 0;
                        font-size: 18px;
                        outline: none;
                        border: none;
                        color: white;
                        border-radius: 5px;
                        background-color: red;


                        &:hover {
                            cursor: pointer;
                            background-color: rgb(224, 68, 68);
                        }
                    }
                }

                .menu__right {
                    width: auto;
                    padding: 5px;
                    align-self: flex-start;
                    font-size: 28px;
                }
            }
        }
    }

}

// for big screens
@media screen and (min-width:900px) {
    main {
        h2 {
            padding: 1% 3%;
            font-size: 35px;
        }

        #menu__container {
            padding: 1% 2%;

            summary {
                font-size: 27px;
            }

            #menu__list {
                padding: 10px;

                .menu__item {
                    .menu__left {
                        width: auto;
                        padding: 5px;

                        .menu__title {
                            font-size: 26px;
                        }

                        .menu__description {
                            width: 70%;
                            font-size: 19px;
                        }

                        .btn {
                            padding: 1%;
                            font-size: 19px;
                            border-radius: 5px;
                        }
                    }

                    .menu__right {
                        font-size: 26px;
                    }
                }
            }
        }

    }
}