.hidden {
  display: none;
}

.hide {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
  background: #000000;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#3d3939), to(#000000));
  background: linear-gradient(to left, #3d3939, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cart__div {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #f8eaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cart__div nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 1%;
  padding: 1% 2%;
}

.cart__div nav .title {
  width: auto;
  font-size: 28px;
  padding: 0 1%;
}

.cart__div nav #backBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  color: #e8eff0;
  margin-right: 5%;
  background-color: #c52a2a;
}

.cart__div nav #backBtn:hover {
  cursor: pointer;
  background-color: #9b0707;
}

.cart__div #buyBtn {
  width: 95%;
  margin: 1% 2%;
  padding: 2%;
  font-size: 1rem;
  color: #e8eff0;
  background-color: #c52a2a;
}

.cart__div #buyBtn:hover {
  cursor: pointer;
  background-color: #9b0707;
}

.cart__div .cart_total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2% auto;
}

.cart__div .cart_total p {
  font-size: 1.3rem;
  font-weight: bold;
}

.cart__div #cart_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin: 3% 0;
  padding: 2%;
}

.cart__div #cart_list .emptyMsg_block {
  width: inherit;
  padding: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__div #cart_list .cart_item {
  width: 95%;
  padding: 2%;
  margin: 1% 2%;
  background-color: #e8eff0;
  border: 1px solid #c2b8b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 8px;
}

.cart__div #cart_list .cart_item .item_title {
  font-size: 1.3rem;
  color: #201212;
  font-weight: bold;
  padding: 3px 8px;
}

.cart__div #cart_list .cart_item .item_description {
  font-size: 0.8rem;
  color: #2e2525;
  font-weight: lighter;
  padding: 1px 8px;
}

.cart__div #cart_list .cart_item .item_price {
  font-size: 1rem;
  color: #2e2525;
  font-weight: bold;
  padding: 5px 8px;
}

.cart__div #cart_list .cart_item .item_quantity_box {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cart__div #cart_list .cart_item .item_quantity_box input[type='text'] {
  width: 40px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 1%;
  margin: 0 2%;
  border-radius: 8px;
  border: none;
  outline: none;
}

.cart__div #cart_list .cart_item .item_quantity_box .decreaseBtn,
.cart__div #cart_list .cart_item .item_quantity_box .increaseBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  color: #e8eff0;
}

.cart__div #cart_list .cart_item .item_quantity_box .decreaseBtn:hover,
.cart__div #cart_list .cart_item .item_quantity_box .increaseBtn:hover {
  cursor: pointer;
  background-color: gainsboro;
}

.cart__div #cart_list .cart_item .cancelBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
  color: #e8eff0;
  font-size: 1rem;
  background-color: #c52a2a;
}

.cart__div #cart_list .cart_item .cancelBtn:hover {
  cursor: pointer;
  background-color: #9b0707;
}

.btn {
  padding: 2% 3%;
  margin: 0.3rem 0;
  font-size: 0.7rem;
  outline: none;
  border: none;
  color: #1a1414;
  border-radius: 8px;
}

@media screen and (min-width: 900px) {
  .cart__div nav .title {
    width: auto;
    font-size: 1.5rem;
    padding: 0 1%;
  }
  .cart__div nav #backBtn {
    font-size: 1rem;
    padding: 1%;
  }
  .cart__div #buyBtn {
    width: 45%;
    padding: 1% 2%;
    margin: 1%;
    font-size: 1rem;
  }
  .cart__div #cart_list {
    margin: 1% 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart__div #cart_list .emptyMsg_block {
    font-size: 1.3rem;
  }
  .cart__div #cart_list .cart_item {
    width: 45%;
    padding: 1%;
    margin: 1%;
  }
  .cart__div #cart_list .cart_item .item_title {
    font-size: 1.4rem;
  }
  .cart__div #cart_list .cart_item .item_description {
    font-size: 1.1rem;
  }
  .cart__div #cart_list .cart_item .item_price {
    font-size: 1.2rem;
  }
  .cart__div #cart_list .cart_item .item_quantity_box input[type='text'] {
    width: 50px;
    padding: 7px 1%;
  }
  .cart__div #cart_list .cart_item #cancelBtn {
    padding: 1% 3%;
  }
}

.hidden {
  display: none;
}

.hide {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
  background: #000000;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#3d3939), to(#000000));
  background: linear-gradient(to left, #3d3939, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 1%;
  color: #e8eff0;
  border: none;
}

header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1% 0;
  margin-bottom: 2%;
}

header nav .company__name {
  width: auto;
  font-size: 28px;
  padding: 0 1%;
}

header nav .cart__container {
  cursor: pointer;
  text-align: center;
  width: 20%;
  border-radius: 10px;
  padding: 5px 2%;
}

header nav .cart__container img {
  width: 30px;
  fill: #e8eff0;
}

header #company__info__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-start;
  text-align: left;
  font-size: 18px;
}

header #company__info__container .company__info {
  width: 100%;
  padding: 1% 2%;
}

header #company__info__container .name {
  font-size: 22px;
  font-weight: 700;
}

header #company__info__container .dishes, header #company__info__container .address {
  font-weight: 400;
  color: #e4d7d7;
}

header #company__info__container .address {
  padding-bottom: 2%;
}

@media screen and (min-width: 900px) {
  header {
    width: 100%;
    padding: 1%;
    border: none;
  }
  header nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1%;
  }
  header nav #company__name {
    font-size: 40px;
  }
  header nav #cart__container {
    width: 10%;
  }
  header nav #cart__container img {
    width: 40px;
  }
  header #company__info__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: flex-start;
    text-align: left;
    font-size: 20px;
  }
  header #company__info__container .company__info {
    width: 100%;
    padding: 5px 2%;
  }
  header #company__info__container .name {
    font-size: 25px;
  }
}

main {
  width: 100%;
  height: auto;
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h2 {
  width: 100%;
  padding: 2% 3%;
  text-align: center;
  font-size: 2.2rem;
  font-family: monospace;
  font-weight: bold;
  color: #e8eff0;
}

main #menu__container {
  width: 100%;
  height: 100%;
  padding: 1% 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main #menu__container details {
  width: 100%;
}

main #menu__container details summary {
  color: #e8eff0;
  font-weight: 900;
  font-size: 1.4rem;
  padding: 1%;
  text-transform: uppercase;
}

main #menu__container details .menu__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px;
}

main #menu__container details .menu__list .menu__item {
  width: 100%;
  height: 100%;
  padding: 1% 2%;
  margin: 1% 0;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main #menu__container details .menu__list .menu__item .menu__left {
  width: 75%;
  padding-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main #menu__container details .menu__list .menu__item .menu__left .menu__title {
  font-size: 1.3rem;
  color: #e4d7d7;
  font-weight: bold;
}

main #menu__container details .menu__list .menu__item .menu__left .menu__description {
  font-size: 0.8rem;
  color: #bbb7b7;
  font-weight: lighter;
}

main #menu__container details .menu__list .menu__item .menu__left .btn {
  padding: 2% 3%;
  margin: 0.3rem 0;
  font-size: 1rem;
  outline: none;
  border: none;
  color: #e8eff0;
  border-radius: 5px;
  background-color: #c52a2a;
}

main #menu__container details .menu__list .menu__item .menu__left .btn:hover {
  cursor: pointer;
  background-color: #9b0707;
}

main #menu__container details .menu__list .menu__item .menu__right {
  width: auto;
  padding: 5px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1rem;
  font-weight: bolder;
  color: #e4d7d7;
}

main #menu__container details .menu__list .menu__item:hover {
  background-color: #302d2cc4;
}

@media screen and (min-width: 900px) {
  main {
    padding-top: 1%;
  }
  main h2 {
    padding: 1% 3%;
    font-size: 3.5rem;
  }
  main #menu__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1% 2%;
  }
  main #menu__container details summary {
    margin-left: 10%;
    padding: 0;
    font-size: 1.8rem;
  }
  main #menu__container details .menu__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
  }
  main #menu__container details .menu__list .menu__item {
    width: 80%;
  }
  main #menu__container details .menu__list .menu__item .menu__left {
    padding: 5px;
  }
  main #menu__container details .menu__list .menu__item .menu__left .menu__title {
    font-size: 1.3rem;
  }
  main #menu__container details .menu__list .menu__item .menu__left .menu__description {
    width: 70%;
    font-size: 0.9rem;
  }
  main #menu__container details .menu__list .menu__item .menu__left .btn {
    margin: 1% 0;
    padding: 1% 2%;
    font-size: 1rem;
    border-radius: 5px;
  }
  main #menu__container details .menu__list .menu__item .menu__right {
    font-size: 26px;
  }
}
/*# sourceMappingURL=style.css.map */